* {
    padding: 0;
    margin: 0;
}

.left-side {
    width: 20%;
    border-right: 1px solid lightgray;
}

.right-side {
    width: 80%;
}

.left-side .left-side-top {
    padding: 15px !important;
    background-color: midnightblue;
}

.left-side .left-side-top .logo-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.left-side .left-side-top .logo-profile .gitlab-icon i {
    font-size: 30px;
    color: coral;
}

.left-side .left-side-top .logo-profile .profile-img {
    display: flex;
    align-items: center;
    gap: 20px;
}

.left-side .left-side-top .logo-profile .profile-img i {
    color: white;
    font-size: 20px;
}

.left-side .left-side-top .logo-profile .profile-img img {
    width: 35px;
    border-radius: 50%;
}

.left-side .left-side-top .top-middle {
    display: flex;
    justify-content: space-between;
}

.left-side .left-side-top .top-middle .middle {
    color: white;
    border: 1px solid gray;
    background-color: #8080805c;
    padding: 8px 30px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 18px;
}

.left-side .left-side-top .top-bottom .bottom {
    color: white;
    border: 1px solid gray;
    background-color: #8080805c;
    padding: 8px 30px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
}