* {
    padding: 0;
    margin: 0;
}

.main-container {
    display: flex;
    align-items: flex-start;
}

.left-side {
    width: 20%;
    border: 1px solid lightgray;
    border-top: none;
    border-left: none;
    border-radius: 5px;
    background-color: whitesmoke;
}

.right-side {
    width: 80%;
}

.left-side .left-side-top {
    padding: 15px !important;
    background-color: midnightblue;
}

.left-side .left-side-top .logo-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.left-side .left-side-top .logo-profile .gitlab-icon i {
    font-size: 30px;
    color: coral;
}

.left-side .left-side-top .logo-profile .profile-img {
    display: flex;
    align-items: center;
    gap: 20px;
}

.left-side .left-side-top .logo-profile .profile-img i {
    color: white;
    font-size: 20px;
}

.left-side .left-side-top .logo-profile .profile-img img {
    width: 35px;
    border-radius: 50%;
}

.left-side .left-side-top .top-middle {
    display: flex;
    justify-content: space-between;
}

.left-side .left-side-top .top-middle .middle {
    color: white;
    border: 1px solid gray;
    background-color: #8080805c;
    padding: 8px 30px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
}

.left-side .left-side-top .top-bottom .bottom {
    color: white;
    border: 1px solid gray;
    background-color: #8080805c;
    padding: 8px 30px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
}

.left-side .left-side-bottom {
    padding: 10px 5px;
}

.left-side .left-side-bottom i {
    width: 20px;
}

.left-side .left-side-bottom .project {
    padding: 0 15px;
}

.left-side .left-side-bottom .project-name {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    font-size: 20px;
}

.left-side .left-side-bottom .project-name i {
    background-color: burlywood;
    padding: 5px;
    border-radius: 5px;
    width: auto;
}

.left-side .left-side-bottom .project-name:hover {
    background-color: #8080805c;
    padding: 5px;
    border-radius: 5px;
}

.left-side .left-side-bottom .project-name span {
    display: none;
}

.left-side .left-side-bottom .project-name:hover span {
    display: block;
    margin-right: 5px;
    border-radius: 5px;
    width: 5px;
    height: 30px;
    background-color: black;
}

.left-side .left-side-bottom .pinned {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    font-size: 20px;
}

.left-side .left-side-bottom .issues {
    padding-left: 50px;
}

.left-side .left-side-bottom .issues .zero {
    background-color: gray;
    padding: 0px 10px;
    border-radius: 45%;
    font-size: 16px;
}

.left-side-hr {
    padding: 10px 15px;
}

hr {
    margin: 0px;
    padding: 0px;
}

.left-side-footer {
    padding: 10px 20px;
}

.left-side-footer div {
    font-size: 20px;
}

.right-side header {
    background-color: whitesmoke;
    padding: 20px 30px;
    border-bottom: 1px solid lightgray;
    font-weight: 500;
}

.right-side .right-container {
    padding: 25px 35px;
    display: flex;
}

.right-side-left {
    width: 75%;
}

.right-side-left .right-side-left-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.right-side-left .title-project {
    margin: 0;
    padding: 0;
}

.right-side-left .title-project i {
    background-color: burlywood;
    padding: 10px 14px;
    border-radius: 5px;
    width: auto;
}

.right-side-left .lock {
    font-size: 20px;
    margin-right: 1rem;
}

.right-side-left .free {
    background-color: #c440c470;
    padding: 4px 10px;
    border-radius: 50px;
    font-weight: 500;
    color: #a814a8;
}

.right-side-left .center-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.right-side-left .center-menu .left-menu {
    display: flex;
    align-items: center;
    gap: 15px;
}

.right-side .border-background-span {
    border: 1px solid lightgray;
    padding: 8px 15px;
    background-color: whitesmoke;
    border-radius: 5px;
    font-size: 18px;
}

.right-side-left .center-menu .left-menu h6 {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.right-side-left .center-menu .right-menu {
    display: flex;
    align-items: center;
    gap: 15px;
}

.right-side-left .merge-details {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 20px;
}

.right-side-left .merge-details img {
    width: 50px;
    border-radius: 50%;
    margin-right: 1rem;
}

.right-side-left .merge-details .branch-author {
    display: flex;
    align-items: center;
}

.right-side-left .merge-details .branch-author span {
    display: flex;
    flex-direction: column;
}

.right-side-left .merge-details .merge-id {
    display: flex;
    align-items: center;
}

.right-side-left .merge-details .merge-id span {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.right-side-left .merge-details .merge-id i {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    font-size: 23px;
    padding: 10px 15px;
    border-left: none;
}

.right-side-left .project-data {
    padding: 0;
    background-color: white;
}

/*-------------table control css--------------*/

.git-table {
    width: 100%;
    border-radius: 5px;
    table-layout: fixed;
    overflow: unset;
    border: 1px solid lightgrey;
}

.git-table .last-update {
    text-align: end;
}

.git-table th, .git-table td {
    padding: 10px 20px !important;
    border-bottom: 2px solid lightgray;
}

.git-table tr .border-bottom-none {
    border-bottom: none;
}

/*---------------------table control css end----------- */

.right-side-right {
    width: 25%;
}

.right-side-right .top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-side-right .top-header .star {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding: 10px;
}

.right-side-right .top-header .zero {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    padding: 10px 15px;
    border-left: none;
}

.right-side-right .right-right-container {
    padding: 40px;
    padding-right: 0;
}

.right-side-right .right-right-container h5 {
    margin-bottom: 10px;
}

.right-right-container .line-colored {
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background-color: #a814a8;
    border: none
}


